.App{
    text-align:center;
    font-size:35px;
    margin-top:20%;
}

.App-title{
    font-size:18px;
}
.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds{
    display:inline;
    font-size:15px;
}